<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <title>Ajinkya Devasthali - Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_navigation" class="clearfix">
    <%= link_to "Ajinkya Devasthali", root_path ,class: "name" %>

      <nav>
        <%= link_to "Articles", posts_path %>
        <%= link_to "Projects", projects_path %>

        <a href="#">Contact</a>
      </nav>
    </header>

<%= yield %>
    <footer id="main_footer">
          <p class="copyright">&copy;2017 Ajinkya Devasthali</p>
          <nav>
            <a href="https://github.com/ajex13" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </nav>
        </footer>

</body>
</html>
